*{ 
/*  padding: 0;
  margin: 0;*/ 
  border-radius: 0 !important; 
}

/*HOME*/
.titlePage{
  min-height: 100vh;
  opacity: 1;
}
#slideshow img { 
  position: fixed; 
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
}
#big-header{
  font-family: 'Oswald', sans-serif;
  font-weight: 180;
  font-size: 100px; 
}
#sub-header{
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 22px;
  text-transform: uppercase;
}
.arrow {
  margin: 8% 0;
  position:absolute;
  width:100%;
  bottom:0;
  text-align:center;
  color: #17202A;
}
.slide {
  -moz-animation: slide 2s infinite;
  -webkit-animation: slide 2s infinite;
  animation: slide 2s infinite;
}
@keyframes slide {
    from {top: 500px;}
    to {top: 550px;}
}

/*NAVBAR*/
.fadeIn{
  background-color: #F7F9F9;
}
.greenNav{
  background-color: #A3E4D7;
}
.transition {    
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.logotxt{
  font-family: 'Monoton', cursive;
  font-size: 30px;
  color: black; 
}
#mainNav {  /* #mainNav tags adapted from "startbootstrap-freelancer" */
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  border: none;
  margin-left: 0px;
}
#mainNav a:focus {
  outline: none;
}
#mainNav .navbar-nav {
  letter-spacing: 1px;  
}
#mainNav .navbar-nav li.nav-item a.nav-link {
  color: black; 
}
#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #1ABC9C;
  outline: none; 
}
#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: black; 
}
#mainNav .navbar-toggler {
  font-size: 14px;
  padding: 11px;
  text-transform: uppercase;
  color: black;
  border-color: black; 
}

/*GENERAL*/
.header{
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 30px;
  padding-bottom: 0px;
}
.button{
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 11px;
  text-transform: uppercase;
  color: black;
  border-color: black; 
  background-color: transparent;
}
.anchor{/* adopted from https://stackoverflow.com/questions/10732690/offsetting-an-html-anchor-to-adjust-for-fixed-header */
  display: block;  
  position: relative;
  top: -35px;
  visibility: hidden;
}
.divider{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  max-width: 1000px;
}

/*ABOUT*/
#about{ 
  background: #E5E8E8;  
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}
#about p{
  padding-left: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 10px;
  font-weight: 200;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#profile-pic{
  width: 100%;
  border-radius: 50%; 
  padding: 30px; 
} 

/*EXPERIENCE*/
.timeline{
  background: #76D7C4;
  color: black;
  padding-top: 30px; 
  padding-bottom: 30px;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
}
.timeline ul {
  padding: 50px 0;
}
.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 3px;
  margin: 0 auto;
  padding-top: 50px;
  background: #148F77;
}
.timeline ul li:nth-child(1) {
  background: transparent;
  background-image: linear-gradient(to bottom, rgba(209, 242, 235, 0), rgba(26, 188, 156, 0.7), rgba(20, 143, 119, 1));
}
.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #0E6251;
}
.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: transparent;
}
.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}
.timeline ul li div h4 {
  color: black;
  text-transform: uppercase;
}
.timeline ul li div p {
  color: #424949;
}
.timeline .date{
  color: #117864;
}
.timeline ul li:nth-child(odd) div {
  left: 45px;
}
.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent transparent transparent;
}
.timeline ul li:nth-child(even) div {
  left: -450px;
  text-align: right;
}
.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent;
}

/*PORTFOLIO*/
#portfolio{ 
  background: #E5E8E8;
  padding-top: 30px; 
  padding-bottom: 30px;
  position: relative;
}
.big-card{
  padding-left: 100px;
  padding-right: 100px;
}
.card{
  margin: 20px;
  background-color: white;
  min-height: 463px;
}
.card img{ 
  width: 100%;  
  text-align: center;
  height: auto; 
  width: auto; 
  max-width: 300px; 
  max-height: 300px;
  padding: 35px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.card p{
  font-size: 14px;
  padding-top: 0px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  text-align: left; 
  line-height: 24px;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*CONTACT*/
#contact{
  background: #76D7C4; 
  padding-top: 30px;
  padding-bottom: 30px; 
  position: relative;
}
#contact-form{
  padding-top: 23px; 
}
.form-group{
  border: none;
  border-radius: 0; 
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .form-group{ 
    border: none;
    border-radius: 0; 
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
  }
}
.form-control{
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*FOOTER*/
#footer{
  position: relative;
  background: #F7F9F9;
  min-height: 50px;
  text-align: center;
  color: #b1b1b1;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 12px;
  line-height: 20px;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.social{
  color: #707B7C;
}

/*MODALS*/
.modal-dialog{
  border: none;
  border-radius: 0;
  box-shadow: none;
  max-width: 100%;
  background-color: #ECF0F1;
}
.modal-dialog img{
  width: 100%;
  margin-top: 30px;
}
.modal-close-button{ 
  margin-top: 20px;
  text-align: center;
}

/* CSS PRELOADER */
.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #76D7C4;
  z-index: 999999;
}
.sk-folding-cube {
  position: absolute;
  top: 43%;
  left: 48%;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}
@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}

/* HVR EFFECTS */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.3);
    color: #148F77;
}
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #17A589;
}
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #17A589;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: black;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/*MEDIA QUERIES*/
@media only screen and (max-width: 768px) {
  .titlePage{ 
    min-height: 560px;
    opacity: 1;
  }
  #big-header{
    font-family: 'Oswald', sans-serif;
    font-weight: 180;
    font-size: 80px; 
  } 
  .arrow{
    visibility: hidden;
  }
  .big-card{
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}
@media screen and (max-width: 600px) {
  #slideshow img{
    visibility: hidden;
  }
  .mobileImage {
    background: url(../img/slides/ecuador.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: auto;
    overflow: hidden;
  }
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
    text-align: left;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent transparent transparent transparent;
  }
}