*{ 
/*  padding: 0;
  margin: 0;*/ 
  border-radius: 0 !important; 
}
.titleImage{
  min-height: 705px;
  opacity: 1;
  -webkit-transition: all 2s linear, opacity 0.1s linear;
  -moz-transition: all 2s linear, opacity 0.1s linear;
  -o-transition: all 2s linear, opacity 0.1s linear;
  transition: all 2s linear, opacity 0.1s linear;
  opacity: 1;
}
@media only screen and (max-width: 768px) {
  .titleImage{ 
    min-height: 560px;
    opacity: 1;
  }
  .arrow{
    visibility: hidden;
  }
}
.gapImage{
  background: url(../img/slides/cortina5.jpg) no-repeat center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 500px; 
  overflow: hidden;
  opacity: 1;
}
.fadeIn{
  background-color: #F7F9F9;
}
.greenNav{
  background-color: #A3E4D7;
}
/*.opaque{
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}*/
.transition {    
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.logotxt{
  font-family: 'Monoton', cursive;
  font-size: 30px;
  color: black; 
}
.header{
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 30px;
/*  letter-spacing: .1em;*/
  padding-bottom: 0px;
}
.arrow {
  margin: 8% 0;
  position:absolute;
  width:100%;
  bottom:0;
  text-align:center;
  color: #17202A;
}
.slide {
  -moz-animation: slide 2s infinite;
  -webkit-animation: slide 2s infinite;
  animation: slide 2s infinite;
}
@keyframes slide {
    from {top: 500px;}
    to {top: 550px;}
}
.card{
  margin: 20px;
  background-color: white;
}
.card img{ 
  width: 100%;  
  text-align: center;
  height: auto; 
  width: auto; 
  max-width: 300px; 
  max-height: 300px;
  padding: 35px;
  display: block; /*for the img inside your div */  
  margin-left: auto;
  margin-right: auto;
}
.card p{
  font-size: 14px;
  padding-top: 0px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  text-align: left; 
  line-height: 24px;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/* adopted from https://stackoverflow.com/questions/10732690/offsetting-an-html-anchor-to-adjust-for-fixed-header */
.anchor{
  display: block;  
  position: relative;
  top: -35px;
  visibility: hidden;
}
.divider{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  max-width: 1000px;
}
.form-group{
  border: none;
  border-radius: 0; 
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .form-group{ 
    border: none;
    border-radius: 0; 
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
  }
}
.form-control{
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.modal-dialog{
  border: none;
  border-radius: 0;
  box-shadow: none;
  max-width: 100%;
  background-color: #ECF0F1;
}
.modal-dialog img{
  width: 100%;
  margin-top: 30px;
}
.modal-close-button{ 
  margin-top: 20px;
  text-align: center;
}
.button{
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 11px;
  text-transform: uppercase;
  color: black;
  border-color: black; 
  background-color: transparent;
}
.social{
  color: #707B7C;
}
/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.3);
    color: #148F77;
}
/* Fade */
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #17A589;
}
/* Sweep To Right */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #17A589;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: black;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/* #mainNav tags adapted from "startbootstrap-freelancer" */
#mainNav {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  border: none;
  margin-left: 0px;
}
#mainNav a:focus {
  outline: none;
}
#mainNav .navbar-nav {
  letter-spacing: 1px;  
}
#mainNav .navbar-nav li.nav-item a.nav-link {
  color: black; 
}
#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #1ABC9C;
  outline: none; 
}
#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: black; 
}
#mainNav .navbar-toggler {
  font-size: 14px;
  padding: 11px;
  text-transform: uppercase;
  color: black;
  border-color: black; 
}
#big-header{
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  font-size: 100px; 
}
#sub-header{
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 22px;
  text-transform: uppercase;
}
#about{ 
  background: #76D7C4;  
  padding-top: 30px;
  padding-bottom: 30px;
}
#about p{
  padding-left: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 10px;
  font-weight: 200;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#profile-pic{
  width: 100%;
  border-radius: 50%; 
  padding: 30px; 
} 
#portfolio{ 
  background: #E5E8E8;
  padding-top: 30px; 
  padding-bottom: 30px;
}
#contact{
  background: #76D7C4; 
  padding-top: 30px;
  padding-bottom: 30px; 
}
#contact-form{
  padding-top: 23px; 
}
#footer{
  background: #F7F9F9;
  min-height: 50px;
  text-align: center;
  color: #b1b1b1;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 12px;
  line-height: 20px;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/* slideshow... */
.img1{background: url(../img/slides/cortina4.jpg) no-repeat center fixed; -webkit-background-size: cover;
  -moz-background-size: cover; -o-background-size: cover; background-size: cover; overflow: hidden;
}
.img2{background: url(../img/slides/cortina1.jpg) no-repeat center fixed; -webkit-background-size: cover;
  -moz-background-size: cover; -o-background-size: cover; background-size: cover; overflow: hidden;
}
.img3{background: url(../img/slides/ecuador.jpg) no-repeat center fixed; -webkit-background-size: cover;
  -moz-background-size: cover; -o-background-size: cover; background-size: cover; overflow: hidden;
}
.img4{background: url(../img/slides/cortina2.jpg) no-repeat center fixed; -webkit-background-size: cover;
  -moz-background-size: cover; -o-background-size: cover; background-size: cover; overflow: hidden;
}
.img5{background: url(../img/slides/carolina.jpg) no-repeat center fixed; -webkit-background-size: cover;
  -moz-background-size: cover; -o-background-size: cover; background-size: cover; overflow: hidden;
}
.img6{background: url(../img/slides/cali.jpg) no-repeat center fixed; -webkit-background-size: cover;
  -moz-background-size: cover; -o-background-size: cover; background-size: cover; overflow: hidden;
}
.img7{background: url(../img/slides/bomb.jpg) no-repeat center fixed; -webkit-background-size: cover;
  -moz-background-size: cover; -o-background-size: cover; background-size: cover; overflow: hidden;
}
.img8{background: url(../img/slides/whites.jpg) no-repeat center fixed; -webkit-background-size: cover;
  -moz-background-size: cover; -o-background-size: cover; background-size: cover; overflow: hidden;
}
.img9{background: url(../img/slides/firenze.jpg) no-repeat center fixed; -webkit-background-size: cover;
  -moz-background-size: cover; -o-background-size: cover; background-size: cover; overflow: hidden;
}
.img10{background: url(../img/slides/dartmouth.jpg) no-repeat center fixed; -webkit-background-size: cover;
  -moz-background-size: cover; -o-background-size: cover; background-size: cover; overflow: hidden;
}
.img10{background: url(../img/slides/aspen.jpg) no-repeat center fixed; -webkit-background-size: cover;
  -moz-background-size: cover; -o-background-size: cover; background-size: cover; overflow: hidden;
}
.img11{background: url(../img/slides/virginia.jpg) no-repeat center fixed; -webkit-background-size: cover;
  -moz-background-size: cover; -o-background-size: cover; background-size: cover; overflow: hidden;
}