*{ 
/*  padding: 0;
  margin: 0;*/ 
  border-radius: 0 !important; 
} 
.titleImage{
  background: url(../img/slides/bomb.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 705px; 
  overflow: hidden;
  opacity: 1;
}
@media only screen and (max-width: 768px) {
  .titleImage{ 
    background: url(../img/slides/cortina2.jpg) no-repeat center;
    -webkit-background-size: cover; 
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 560px;
    overflow: hidden;
    opacity: 1;
  }
  .arrow{
    visibility: hidden;
  }
}
.fadeIn{
  background-color: #F7F9F9;
}
/*.opaque{
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}*/
.transition {    
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.logotxt{
  font-family: 'Monoton', cursive;
  font-size: 30px;
  color: black; 
}
.header{
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 25px;
  letter-spacing: .1em;
}
.arrow {
  margin: 8% 0;
  position:absolute;
  width:100%;
  bottom:0;
  text-align:center;
  color: #17202A;
}
.slide {
  -moz-animation: slide 2s infinite;
  -webkit-animation: slide 2s infinite;
  animation: slide 2s infinite;
}
@keyframes slide {
    from {top: 500px;}
    to {top: 550px;}
}
.card{
  margin: 20px;
  background-color: white;
}
.card img{ 
  width: 100%;
}
.card p{
  font-size: 14px;
  padding: 25px;
  text-align: left; 
  line-height: 24px;
}
/* adopted from https://stackoverflow.com/questions/10732690/offsetting-an-html-anchor-to-adjust-for-fixed-header */
.anchor{
  display: block;  
  position: relative;
  top: -35px;
  visibility: hidden;
}
.form-group{
  border: none;
  border-radius: 0; 
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .form-group{ 
    border: none;
    border-radius: 0; 
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
  }
}
.modal-dialog{
  border: none;
  border-radius: 0;
  box-shadow: none;
  max-width: 100%;
  background-color: #ECF0F1;
}
.modal-dialog img{
  width: 100%;
  margin-top: 30px;
}
.modal-close-button{ 
  margin-top: 20px;
  text-align: center;
}
.button{
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 11px;
  text-transform: uppercase;
  color: black;
  border-color: black; 
  background-color:transparent;
}
.button:focus, .button:hover {
  color: black;
  border-color: #18BC9C;
  background-color: #18BC9C; 
}
.social{
  color: #707B7C;
}
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.3);
    color: black;
}
/* #mainNav tags adapted from "startbootstrap-freelancer" */
#mainNav {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  border: none;
}
#mainNav a:focus {
  outline: none;
}
#mainNav .navbar-nav {
  letter-spacing: 1px;  
}
#mainNav .navbar-nav li.nav-item a.nav-link {
  color: black; 
}
#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #18BC9C;
  outline: none; 
}
#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: black; 
}
#mainNav .navbar-toggler {
  font-size: 14px;
  padding: 11px;
  text-transform: uppercase;
  color: black;
  border-color: black; 
}
#mainNav .navbar-toggler:focus, #mainNav .navbar-toggler:hover {
  color: black;
  border-color: #18BC9C;
  background-color: #18BC9C; 
}
#big-header{
  font-family: 'Playfair Display SC', serif;
  font-weight: 200;
  font-size: 60px; 
}
#sub-header{
  font-family: 'Playfair Display SC', serif;
  font-size: 25px;
}
#about{ 
  background: #D1F2EB;  
  padding-top: 30px;
  padding-bottom: 30px;
}
#about p{
  padding-left: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 10px;
  font-weight: 200;
}
#profile-pic{
  width: 100%;
  border-radius: 50%; 
  padding: 30px; 
} 
#portfolio{ 
  background: #FAE5D3;
  padding-top: 30px; 
  padding-bottom: 30px;
}
#contact{
  background: #FCF3CF; 
  padding-top: 30px;
  padding-bottom: 30px; 
}
#contact-form{
  padding-top: 23px; 
}
#footer{
  background: #F7F9F9;
  min-height: 50px;
  text-align: center;
  color: #b1b1b1;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 12px;
  line-height: 20px;
}